* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

body {
    margin: auto;
    background-color: #ecedef;
}

div {
    width: 240px;
    height: 170px;
    display: inline-block;
    margin: 40px;
}

#container {
    max-width: 430px;
    margin: 10% auto;
    padding: 20px;
}

.Div_1{
    background-color: #fff;
    padding: 25px;
    margin: 25px;
    color: #333;
    border-top: 4px solid #49c1a2;
    border-radius: 15px;
}